<table cellspacing="1" class="outer">
  <tr>
    <th colspan="3"><a href="<{$channel.link|escape}>" target="_blank"><{$channel.title|escape}></a></th>
  </tr>
  <tr>
    <td width="25%" rowspan="6">
      <{if $image.url != ""}>
        <img src="<{$image.url|escape}>" width="<{$image.width|escape}>" height="<{$image.height|escape}>" alt="<{$image.title|escape}>" />
      <{else}>
        &nbsp;
      <{/if}>
    </td>
    <td valign="top" class="head"><{$lang_lastbuild}></td>
    <td class="odd"><{$channel.lastbuilddate|escape}></td>
  </tr>
  <tr>
    <td valign="top" class="head"><{$lang_description}></td>
    <td class="even"><{$channel.description|escape}></td>
  </tr>
  <tr>
    <td valign="top" class="head"><{$lang_webmaster}></td>
    <td class="odd"><{$channel.webmaster|escape}></td>
  </tr>
  <tr>
    <td valign="top" class="head"><{$lang_category}></td>
    <td class="even"><{$channel.category|escape}></td>
  </tr>
  <tr>
    <td valign="top" class="head"><{$lang_generator}></td>
    <td class="odd"><{$channel.generator|escape}></td>
  </tr>
  <tr>
    <td valign="top" class="head"><{$lang_language}></td>
    <td class="even"><{$channel.language|escape}></td>
  </tr>
  <{section name=i loop=$items}>
  <{if $items[i].title != ""}>
  <tr class="head">
    <td colspan="3"><a id="<{$items[i].link|escape}>"></a><a href="<{$items[i].link|escape}>" target="_blank"><{$items[i].title|escape}></a></td>
  </tr>
  <{/if}>
  <{if $show_full == true}>
    <{if $items[i].category != ""}>
    <tr>
      <td class="even" valign="top" nowrap="nowrap"><{$lang_category}></td>
      <td class="odd" colspan="2"><{$items[i].category|escape}></td>
    </tr>
    <{/if}>
    <{if $items[i].pubdate != ""}>
    <tr>
      <td class="even" valign="top" nowrap="nowrap"><{$lang_pubdate}>:</td>
      <td class="odd" colspan="2">
        <script type="text/javascript">document.write(phpDate('<{$dtfmt_long}>', <{$items[i].pubdate|escape}>));</script>
        <noscript><{$items[i].date_short|escape}></noscript>
      </td>
    </tr>
    <{/if}>
    <{if $items[i].description != ""}>
    <tr>
      <td class="even" valign="top" nowrap="nowrap"><{$lang_description}>:</td>
      <td colspan="2" class="odd"><{$items[i].description}><{if $items[i].guid != ""}>&nbsp;&nbsp;<a href="<{$items[i].guid|escape}>" target="_blank"><{$lang_more}></a><{/if}></td>
    </tr>
    <{elseif $items[i].guid != ""}>
    <tr>
      <td class="even" valign="top" nowrap="nowrap"></td>
      <td colspan="2" class="odd"><a href="<{$items[i].guid|escape}>" target="_blank"><{$lang_more}></a></td>
    </tr>
    <{/if}>
    <{if $items[i].content != ""}>
    <tr>
      <td class="even" valign="top" nowrap="nowrap"></td>
      <td colspan="2" class="odd"><{$items[i].content}></td>
    </tr>
    <{/if}>
  <{/if}>
  <{/section}>
</table>
